# AIT500 - Lab 1

## Objective

Practice [Pandas](https://pandas.pydata.org/docs/user_guide/index.html) data manipulation using the famous [***Iris Plants Database***](https://www.openml.org/d/61)

## Dataset Description
The *Iris Plants Database* is one of the best known database to be found in the pattern recognition literature.  The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant. One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

## Guidelines

Use material from PRG550-2022, Pandas documentation and other online sources for help

- [Lab05-Jupyter-and-Pandas.ipynb](https://github.com/dora-lee/seneca-prg550-2022-spring/blob/main/labs/Lab05-Jupyter-and-Pandas.ipynb)
- [Lecture06-Jupyter-Notes.ipynb](https://github.com/dora-lee/seneca-prg550-2022-spring/blob/main/lectures/Lecture06-Jupyter-Notes.ipynb)
- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html)

# Setup Libraries

In [2]:
import pandas as pd
import os
from scipy.io.arff import loadarff
os.getcwd()

'/home/pi/workspace_ait500/labs'

# Import data

In [3]:
# run curl at command line to download local version of iris dataset to working directory
!curl https://www.openml.org/data/download/61/dataset_61_iris.arff --output iris_dataset.arff

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  7487  100  7487    0     0  15663      0 --:--:-- --:--:-- --:--:-- 15663

In [4]:
# take a look at what's in the file, you can do this via command line with `less` or similar commands

!head -n 10 iris_dataset.arff
!echo "----------------------"
!tail -n 10 iris_dataset.arff

% 1. Title: Iris Plants Database
%
% 2. Sources:
%      (a) Creator: R.A. Fisher
%      (b) Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
%      (c) Date: July, 1988
%
% 3. Past Usage:
%    - Publications: too many to mention!!!  Here are a few.
%    1. Fisher,R.A. "The use of multiple measurements in taxonomic problems"
----------------------
6.7,3.1,5.6,2.4,Iris-virginica
6.9,3.1,5.1,2.3,Iris-virginica
5.8,2.7,5.1,1.9,Iris-virginica
6.8,3.2,5.9,2.3,Iris-virginica
6.7,3.3,5.7,2.5,Iris-virginica
6.7,3.0,5.2,2.3,Iris-virginica
6.3,2.5,5.0,1.9,Iris-virginica
6.5,3.0,5.2,2.0,Iris-virginica
6.2,3.4,5.4,2.3,Iris-virginica
5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
raw_data = loadarff('iris_dataset.arff')

In [6]:
# create data frame from raw_data
df = pd.DataFrame(raw_data[0])

In [7]:
# show some rows of data frame
df.head(4)

   sepallength  sepalwidth  petallength  petalwidth           class
0          5.1         3.5          1.4         0.2  b'Iris-setosa'
1          4.9         3.0          1.4         0.2  b'Iris-setosa'
2          4.7         3.2          1.3         0.2  b'Iris-setosa'
3          4.6         3.1          1.5         0.2  b'Iris-setosa'

# Lab Questions

Using Pandas functionality to answer the following questions

## Q1 Show the column names of the dataset and their data types

In [8]:
# your code here

In [9]:
# your code here

## Q2 Show the number of rows in the dataset

In [10]:
# your code here

## Q3 Data cleaning: create field called `class_clean` by remove the leading `b'` and trailing `'` from the `class` field

In [11]:
# your code here

## Q4 Show the number of data entries for each `class_clean`

In [12]:
# your code here

## Q5 Recreate this plot
<img src="lab01_chart01.png">

In [13]:
# your code here

## Q6 Recreate this plot
<img src="lab01_chart02.png">

In [14]:
# your code here

## Q7 Recreate this plot  and provide your observations of its shortcomings or limitations of the charts in Q5, Q6, Q7
<img src="lab01_chart03.png">

In [15]:
# your code here

## Q8 Recreate this plot, provide written description of information you gained from the plot and why it's useful
<img src="lab01_chart04.png">

In [16]:
# your code here

## Q9 What is the mean, standard deviation, min, max for each of the numerical fields of the dataset?

In [17]:
# your code here

## Q10 How many entries have `petalwidth`>2?

In [18]:
# your code here

## Q11How many entries have `petallength`<4?

In [19]:
# your code here

## Q12 How many entries have `sepallength`<5 and 'sepalwidth'>3?

In [20]:
# your code here

## Q13 How many entries have `sepallength`>6 and `petalwidth`>3?

In [21]:
# your code here

## Q14 Recreate this plot and provide a written interpretation of what you see
<img src="lab01_chart05.png">

In [22]:
# your code here

## Q15 Recreate this plot and provide your written interpretation of the chart
<img src="lab01_chart06.png">

1. what does the box upper and lower bound represent?
1. what do the whiskers represent?
1. what does the green line represent?

In [23]:
# your code here